{{#if loggedIn}}
<button class="box-office-link" id="logout">Logout</button>
{{else}}
<a href="/login" class="box-office-link">Login</a>
{{/if}}
<div id="box-office">
    <h1 class="box-office-header">BOX-OFFICE</h1>
    <div class="columns">
        <div id="ticket-container" class="column">
            <section id="tickets" class="btn-grid">
                <div class="row">
                    <button id="horror-btn" class="ticket-btn">HORROR</button>
                </div>
                <div class="row">
                    <button id="sci-fi-btn" class="ticket-btn">SCI-FI</button>
                </div>
                <div class="row">
                    <button id="romance-btn" class="ticket-btn">ROMANCE</button>
                </div>
                <div class="row">
                    <button id="comedy-btn" class="ticket-btn">COMEDY</button>
                </div>
                <div class="row">
                    <button id="action-btn" class="ticket-btn">ACTION</button>
                </div>
                <div class="row">
                    <button id="all-btn" class="ticket-btn">ALL</button>
                </div>
        </div>
    </div>
    <div id="bo-footer" class="row">
        <p>SELECT YOUR TICKET TO BEGIN THE QUIZ</p>
    </div>
    {{#if loggedIn}}
    <section id="bo-hsl" class="button">
      <div class="row">
        View High Scores
      </div>
    </section>
    {{/if}}
</div>

<script src="/javascript/box-office.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
