<div class="welcome-container">
    <h1 class="welcome">OUTCAST MOVE QUIZ</h1>
    <h2 class="rules">
        <ul class="quiz-rules-list" style="list-style-type: square;">
            <h1 class="quiz-rules">RULES</h1>
            <li>After logging in you will be redirected to the box-office
                where you will choose the genre of moive you wish you test
                your knowledge on.</li>
            <li>Each genre has a series of 10 questions.</li>
            <li>You will have 15 seconds to answer each question.</li>
            <li>The longer you take, the more points you loose!</li>
            <li>Compare your score with other players at the end of the 
                quiz on our highscores page.</li>
            <li>May the best player win!</li>
        </ul>
        <ul class="new-user-list" style="list-style-type: square;">
            <h1 class="new-user">NEW USER?</h1>
            <li>Enter a username and password.</li>
            <li>Password must contain at least 8 haracters.</li>
            <li>Click "CREATE LOGIN" button.</li>
            <li>Let the quiz begin!</li>
        </ul>
        <ul class="returning-user-list" style="list-style-type: square;">
            <h1 class="returning-user">RETURNING USER?</h1>
            <li>Enter your username and password.</li>
            <li>Click "LOGIN" button.</li>
            <li>Let the quiz begin!</li>
        </ul>
    </h2>

</div>

<div class="login-container">
    <form class="field">
        <label class="label">Username</label>
        <div class="control">
            <input class="input" id="username" type="text" placeholder="ENTER NEW OR EXISTING USERNAME">
        </div>
        <label class="label">Password</label>
        <div class="control">
            <input class="input" id="password" type="text" placeholder="ENTER PASSWORD (8 CHRACTER MIN)">
        </div>
        <div class="btn-footer">
            <button class="ftbtn login" id="login">LOGIN</button>
            <button class="ftbtn signup" id="signup">CREATE LOGIN</button>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>